/* 
 * GitHub Repository Phishing Alert Appeal & Project Verification
이 페이지는 깃허브에서 발생한 피싱 경고 오탐지(False Positive)를 해명하고, 해당 코드가 순수한 학습 및 포트폴리오용임을 증명하기 위해 작성되었습니다.
This CSS is part of a student project. 
Any resemblance to real-world commercial sites is purely for design practice.
*/
/* 공통디자인 common.css */
/* header, footer */
body {}
#wrap {}
#wrap header {
    background-color: rgba(0,0,0,0.9);
    height: 70px; padding: 0 80px;
    min-width: 1220px;
    display: flex;/* h1, nav 정렬 */
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    /* 스크롤 이동 시 고정 */
    position: fixed; left: 0; top: 0; z-index: 999; width: 100%;
}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header h1 a img {}
/* 호랑가시나무언덕소개 ~ 고객센터까지 모든 gnb + lnb 공통 선택자 */
#wrap header nav {
}
#wrap header nav #gnb {
    display: flex;
    flex-flow: row nowrap; gap: 20px;
}
#wrap header nav #gnb a:hover {color:#c0dfee !important;}/* 공통 a, !important : 우선순위를 높여줌 */
#wrap header nav #gnb > li {position: relative;}/* 첫번째 서브(gnb depth2) 기준 */
#wrap header nav #gnb > li:hover .gnb_depth2 {display: block;}
#wrap header nav #gnb > li > a {
    color: #fff;
    line-height: 70px; display: block;
}/* line 20 */
#wrap header nav #gnb > li > .gnb_depth2 {
    background-color: #27536B;
    position: absolute;
    width: 160px;
    left: 50%; transform: translateX(-50%);/* absolute 부모 x축 정중앙 */
    display: none;
}
/* #wrap header nav #gnb > li > .gnb_depth2 {display: none;} -> gnb 만들 때, 잠깐 숨김. */
#wrap header nav #gnb > li > .gnb_depth2 > li {}
#wrap header nav #gnb > li > .gnb_depth2 > li:hover .gnb_depth3 {display: block;}
#wrap header nav #gnb > li > .gnb_depth2 > li > a {
    color: #fff; text-align: center;
    display: block; line-height: 46px;
}
#wrap header nav #gnb > li > .gnb_depth2 > li > .gnb_depth3 {
    background-color: #3c6f8a;
    display: none;
}
#wrap header nav #gnb > li > .gnb_depth2 > li > .gnb_depth3 li {}
#wrap header nav #gnb > li > .gnb_depth2 > li > .gnb_depth3 li a {
    color: #fff; text-align: center;
    display: block; line-height: 46px;
}
/* ==================================================== foother */
footer {background-color: #000;}
footer #footer_wrap {}
footer #footer_wrap address,
footer #footer_wrap address a {
    display: inline-block;
    color: #fff;
    line-height: 2.0;
    font-size: 0.81rem;
}
/* ==================================================== main w1220+p70 */
/* main > div */
/* main #intro_tourist, main... */
/* ✓ main .공통클래스 */
#wrap main .container_layout,
#wrap footer .container_layout {
    width: 1220px; margin: 0 auto; padding: 70px 0;
}
#wrap main .container_layout h1 {
    font-size: 1.5rem; font-weight: 600; margin: 0 0 30px;
}
#wrap main .container_layout h1+p {
    line-height: 1.7; font-weight: 0.94rem; color: #555; margin: 0 0 30px;
}